It is used for both linear and non linear data. 
For classification and regression

In [2]:
import pandas as pd
import matplotlib as plt 
import seaborn as sns
from mlxtend.plotting import plot_decision_regions

In [8]:
dataset = pd.read_csv("Social_Network_Ads.csv")
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [10]:
x = dataset.iloc[:,:-1]
y = dataset["Purchased"]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.2 , random_state=42)

In [13]:
from sklearn.svm import SVC

In [ ]:
sv = SVC(kernel = "linear")
sv.fit(x_train , y_train)